p{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman";
    color: blue;
}
#p2{
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman";
    color: green;
}